{
  "extends": ["eslint-config-egg", "plugin:prettier/recommended"],
  "parserOptions": { "sourceType": "module" },
  "globals": { "window": true },
  "rules": {
    "no-unused-vars": "warn",
    "no-empty": "off"
  }
}
