.fz-h1 {
	font-size: 2rem;
	line-height: 1.5rem;
}
.fz-h2 {
	font-size: 1.75rem;
	line-height: 1.5rem;
}
.fz-h3 {
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.fz-p1 {
	font-size: 0.875rem;
	line-height: 1.5rem;
}
.fz-p2 {
	font-size: 0.75rem;
	line-height: 1.5rem;
}
.fz-p3 {
	font-size: 0.625rem;
	line-height: 1rem;
}
.bold{
	font-weight: 500;
}